  <div class = "container">
    <h4>Those who you follow</h4>
    <ul>
    <% @the_followers.each do |user| %>
      <li><%= user.user_name %></li>
      <% end %>
    </ul>
<br>
<br>
<h4>Those who follow you</h4>
   <ul>
    <% @those_who_follow.each do |user| %>
    <li><%= user.user_name %></li>
    <% end %>
  </ul>
  </div>
