<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/css/normalize.css">

<title>Twitter</title>
    <meta name="viewport" content="width=devices-width, initial-scale=1.0">
    <link href = "../../public/css/bootstrap.min.css" rel = "stylesheet">
    <link href = "../../public/css/styles.css" rel = "stylesheet">
    <link href = "../../public/css/application.css" rel = "stylesheet">
  </head>

  <body>
    <div class = "navbar navbar-inverse navbar-static-top">
      <div class = "container">

        <a href="#" class = "navbar-brand">Twitter</a>

          <div class="row">

            <div class = "col-md-3">
              <p></p>

                <form action='/tweet' method="post">
                 <input type="text" name="content" style="width:500px; height:50px"><br><br>
                  <input type="submit" name="submit" class="btn btn-primary">
                </form>


            </div>

          </div>

            <button class = "navbar-toggle" data-toggle= "collapse" data-target = ".navHeaderCollapse">
              <span class = "icon-bar"></span>
              <span class = "icon-bar"></span>
              <span class = "icon-bar"></span>
            </button>

            <div class = "collapse navbar-collapse navHeaderCollapse">
              <ul class = "nav navbar-nav navbar-right">
                <li><a href = "#">Profile</a></li>
                <li><a href = "#">Timeline</a></li>
                <li><a href = "#">Log-out</a></li>
              </ul>
            </div>

      </div>

    </div>

  <%= yield %>

</body>
</html>
