  <div class = "container">
    <div class="row">
      <p></p>
      <hr>
    </div>

    <div class="row">

        <div class="span12">

            <div class = "col-md-3">
              <div id="profile">
                <p></p>
                <center>
                  <img src="http://www.gravatar.com/avatar/<%= @hash_email %>s=200" />
                  <p></p>
                  <a href = "#" class = "btn btn-default">Follow</a>
                  <a href = "/follow/<%= @user.user_name%>" class = "btn btn-default">Followers</a>
                </center>
                <p></p>
              </div>

            </div>

          <br>

          <div class="row">

            <center>
              <% @user.tweets.sort_by{ |tweet| tweet.created_at }.reverse.each do |tweet| %>

                  <div id="tweety">
                    <h3><a href="profile/:user_name"><%= @user.user_name %></a></h3>
                      <p> <%= tweet.content %> </p>

                    <center>
                      <a href = "#" class = "btn btn-default">Re-Tweet</a>
                      <a href = "#" class = "btn btn-default">Delete</a>
                    </center>
                    <br>
                  </div>

                  <br>

              <% end %>
            </center>



            </div>

          </div>

        </div>

    </div>

  </div>

