  <div class = "container">
    <div class="row">
      <p></p>
      <hr>
    </div>


          <div class="row">

            <div class = "col-md-3">

              <div id="tweety" >
                <h3><a href="profile/:user_name"><%= user_name %></a></h3>
                  <p> This is a fake tweet that goes really far to mka eit do some weird stuff </p>

                <center>
                  <a href = "#" class = "btn btn-default">Re-Tweet</a>
                  <a href = "#" class = "btn btn-default">Delete</a>
                </center>
              </div>

              <p></p>

              <div id="tweety">
                <h3><a href="/profile/:user_name"><%= user_name %></a></h3>
                  <p> This is a fake tweet </p>

                <center>
                  <a href = "/retweet/:user_id" class = "btn btn-default">Re-Tweet</a>
                  <a href = "#" class = "btn btn-default">Delete</a>
                </center>

              </div>

            </div>

          </div>

        </div>

    </div>

  </div>
